<div id="photo">
  <%= link_to "Add a pic of your sweet ride!", new_image_path, class: "btn btn-default" %>
</div>

<div id="user-info">
  <ul>
    <li><%= current_user.name %></li>
    <li><%=image_tag current_user.image %></li>
    <li><% current_user.trails.each do |trail| %>
        <div id='trail-info'>
          <li>Name: <%= trail.name %></li>
          <li><%= image_tag trail.thumbnail %></li>
          <li>Website: <%= link_to trail.url %></li>
          <li>City: <%= trail.city %></li>
          <li>State :<%= trail.state %></li>
          <li>Directions: <%= trail.directions %></li>
          <li>Lattitude: <%= trail.lat %></li>
          <li>Longitude: <%= trail.lon %></li>
          <li><%= trail.description %></li>
          <li>This trail has a rating of: <%= trail.rating %> on a scale of 1-5.</li>
          <li>This trail is <%= trail.distance %> miles long.</li>
        </div>
      <% end %><li>
    <li>
      <%= current_user.comments.each do |comment| %>
        <%= comment.body %>
      <% end %>
    </li>
  </ul>
</div>
