<div class="container">
    <h1 id='dashboard-title'><%= current_user.name %></h1>
    <%=image_tag current_user.image %>
      <% @trails.each do |trail| %>
      <div class="row" id="dashboard-info">
        <div class='col-md-6'>
          <h3 id='dashboard-h3'><%= trail.name %></h3 id='dashboard-h3'>
          <li><%= trail.image %></li>
          <li>Website: <%= link_to trail.url %></li>
          <li>City: <%= trail.city %></li>
          <li>State :<%= trail.state %></li>
          <li>Lattitude: <%= trail.lat %></li>
          <li>Longitude: <%= trail.lon %></li>
        </div>
        <div class='col-md-6'>
          <li>This trail is <%= trail.distance %> miles long.</li>
          <li>This trail has a rating of: <%= trail.rating %> on a scale of 1-5.</li>
          <li>Directions: <%= trail.directions %></li>
          <li><%= trail.short_description %></li>
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-md-6" id="bubbles1">
          <h3 id='dashboard-h3'>My Comments</h3>
          <% @comments.each do |comment| %>
             <strong><%= comment.trail.name %></strong><br>
            You said: <%= comment.body %><br>
            Commented <%= time_ago_in_words(comment.created_at) %> ago.<br>
          <% end %>
        </div>
        <div class="col-md-6" id="bubbles2">
          <h3 id='dashboard-h3'>My Pics</h3>
          <% @images.each do |image| %>
            <%= image_tag image.image, class: 'search-image' %>
          <% end %>
        </div>
      </div>
  </div>
</div>
