<%= image_tag Image.fourth.image(:original), class: 'image' %>

<div class="container-fluid">
  <div class="row">
    <% unless @trails.nil? || @trails.empty? %>
      <ul>
        <% @trails.each do |trail| %>
          <div class='col-md-4' id='trail-info'>
            <h2><li><%= trail.name %></li></h2>
            <li><%= image_tag trail.activities.first['thumbnail'], class: 'search-image' %></li>
            <li>City:<%= trail.city %></li>
            <li>State:<%= trail.state %></li>
            <li>Directions:<%= truncate(trail.directions, length: 60) %></li>
            <li>Lattitude:<%= trail.lat %></li>
            <li>Longitude:<%= trail.lon %></li>
            <% unless trail.activities.nil? || trail['activities'].first.nil? %>
              <li><%= truncate(trail.activities.first['description'], length: 60) %></li>
              <li><%= link_to trail.activities.first['url'] %></li>
              <li>This trail has a rating of: <%= trail.activities.first['rating'] %> on a scale of 1-5.</li>
              <li>This trail is <%= trail.activities.first['length'] %> miles long.</li>
            <% end %>
            <%= form_tag trails_path, remote: true do %>
              <%= hidden_field_tag 'trail[unique_id]', trail.unique_id %>
              <%= hidden_field_tag 'trail[distance]', trail.activities.first['length'] %>
              <%= hidden_field_tag 'trail[description]', trail.activities.first['description'] %>
              <%= hidden_field_tag 'trail[name]', trail.name %>
              <%= hidden_field_tag 'trail[city]', trail.city %>
              <%= hidden_field_tag 'trail[state]', trail.state %>
              <%= hidden_field_tag 'trail[lat]', trail.lat %>
              <%= hidden_field_tag 'trail[lon]', trail.lon %>
              <%= hidden_field_tag 'trail[directions]', trail.directions %>
              <%= hidden_field_tag 'trail[rating]', trail.activities.first %>
              <%= hidden_field_tag 'trail[url]', trail.activities.first['url'] %>
              <%= hidden_field_tag 'trail[thumbnail]', trail.activities.first['thumbnail'] %>
              <%= submit_tag "LIKE", class: 'btn btn-default' %>
              <%= link_to "More Info", trail_path(trail), class: 'btn btn-default' %>
            <% end %>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
