
<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-6' id='trail-info'>
      <div class="trail-info">
        <ul>
          <li><%= @trail.name %></li>
          <li><%= image_tag @trail.thumbnail, class: 'search-image' %></li>
          <li><%= link_to @trail.url %></li>
          <li><%= @trail.city %></li>
          <li><%= @trail.state %></li>
          <li><%= @trail.directions %></li>
          <li><%= @trail.lat %></li>
          <li><%= @trail.lon %></li>
          <li><%= @trail.description %></li>
          <li>This trail has a rating of <%= @trail.rating %> out of 5</li>
          <li>This trail is <%= @trail.distance %> miles long</li>
        </ul>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <div id="comments">
        <div id="new-comment">
          <%= form_for [@trail, @comment] do |f| %>
            <%= f.text_field :body %>
            <%= f.submit "Add Comment", :id => 'save', class: "btn btn-success" %>
          <% end %>
        </div>
        <% @trail.comments.each do |comment| %>
          <%= comment.body %>
          <%= comment.user.name %>
        <% end %>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-6">
      <div id="images">
        <div id="new-image">
          <%= form_for [@trail, @image] do |f| %>
            <%= f.text_field :name %>
            <%= f.file_field :image %>
            <%= f.submit "Add Image", :id => 'save', class: "btn btn-success" %>
          <% end %>
        </div>
        <% @trail.images.each do |image| %>
          <%= image_tag image.image.url %>
          <%= image.user.name %>
        <% end %>
      </div>
    </div>
  </div>
</div>
