
<div class='container'>
  <h1 id='trail-title'><%= @trail.name %></h1>
  <div class='row'>
    <div class='col-md-6'>
      <div>
        <div class="row">
          <div id='show-trail'>
            <div id="trail-header">
              <li><h3>General Info</h3></li>
              <% if current_user.nil? %>
                <%= link_to "Login to LIKE a Trail", edit_trail_path(@trail), remote: true, class: 'btn btn-primary disabled', id: 'like' %>
              <% else %>
                <%= link_to "LIKE", edit_trail_path(@trail), remote: true, class: 'btn btn-primary', id: 'like' %>
              <% end %>
            </div>
              <div class='col-md-6'>
                <li><%= image_tag @trail.thumbnail, class: 'search-image' %></li>
                <li><%= link_to @trail.url %></li>
                <li><%= @trail.city %></li>
                <li><%= @trail.state %></li>
                <li><%= @trail.lat %></li>
                <li><%= @trail.lon %></li>
                <li>This trail has a rating of <%= @trail.rating %> out of 5</li>
                <li>This trail is <%= @trail.distance %> miles long</li>
              </div>
              <div class='second col-md-6'>
                <h3>Directions to Trail</h3>
                <li><%= @trail.directions %></li>
                <h3>Description of Trail</h3>
                <li><%= @trail.description %></li>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div id="col-md-6">
      <div id="maps">
        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC3SSrpIv1R-CUWu1zipfmYQIpfV9XlFQw&q=loc:<%="#{@trail.lat},#{@trail.lon}"%>" width="550px" height="500px"></iframe>
      </div>
    </div>
    <div class='col-md-6'>
      <h3>Community Photos</h3>
      <div id="images">
        <div id="new-image">
          <%= form_for [@trail, @image] do |f| %>
            <%= f.label :caption %>
            <%= f.text_field :name %>
            <%= f.file_field :image %>
            <% if current_user.nil? %>
              <%= f.submit "Login to Add an Image", :id => 'save', class: "btn btn-success disabled" %>
            <% else %>
              <%= f.submit "Add Image", :id => 'save', class: "btn btn-success" %>
            <% end %>
          <% end %>
        </div>
        <div class='row'>
            <% @trail.images.each do |image| %>
              <div class='col-md-6'>
                <%= image_tag image.image.url, class: 'trail-image' %><br>
                <%= image.name %>
                <%= image.user.name %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    <div class='col-md-6'>
        <h3>Community Comments</h3>
      <div id="comments">
        <div id="new-comment">
          <%= form_for [@trail, @comment] do |f| %>
            <%= f.text_field :body %>
            <% if current_user.nil? %>
              <%= f.submit "Login to Add a Comment", :id => 'save', class: "btn btn-success disabled" %>
            <% else %>
              <%= f.submit "Add Comment", :id => 'save', class: "btn btn-success" %>
            <% end %>
          <% end %>
        </div>
        <div class='row'>
            <% @trail.comments.each do |comment| %>
              <div class='col-md-12'>
                <div id="each-comment">
                  <%= image_tag comment.user.image %>
                  <%= comment.body %>
                  <%= comment.user.name %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
